section{
    width: 48%;
    background-color: aliceblue;
    /*margin-right: 20%;
    margin-left: 20%;*/
    margin-top: 10%;
    margin: auto;
     border: none;
     border-radius: 10px;
}
body{
    background-color:  rgba(15, 206, 126, 0.582);
}
.container{
    background:url(a9712669d443d3203ac074924d2afb71.jpg);
    background-color: rgb(9, 9, 43);
    width: 310px;
    height: 420px;
    color: aliceblue;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }
.container2{
    margin-left: 310px;
    background-color: bisque;
    width: 340px;
    height: 420px;
    margin-top: -440px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav{
	height: 10px;
	width: 100%;
}
nav ul{
    float: right;
    /*margin-left: 10px;*/
    margin-top: -16px;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a.Gold:hover{
	color: gold;
}
nav ul li a.Bronze:hover{
	color:burlywood;
}
nav ul li a.silver:hover{
	color: silver;
}
nav ul li a.silver{
    color: rgb(38, 201, 146);
}
form{
    width: 300px;
    text-align: justify;
    margin-top: 7px;
    margin-left: 30px;
    /*padding: 10px;*/
}
input{
    background: whitesmoke;
    margin-left: 30px;
    vertical-align: auto;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
button{
    width: 100px;
    margin-left: 40px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    padding: 7px;

 }
button.cancel{
    background-color: rgb(22, 1, 39);
    color: white;
}
button.confirm{
    background-color: aqua;
}
h5{
    margin-left: 10px;
    margin-top: -10px;
}
.bars{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}
h1{
    color: rgba(33, 196, 142, 0.863);
    text-align: center;
}
h6{
    text-align: center;
    margin-top: -15px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    text-align: center;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}